<div class="nav-items">
    <fa-icon [icon]="faDashboard"></fa-icon>
    <span>Salse</span>
</div>
<div class="nav-items">
    <fa-icon [icon]="faLocation"></fa-icon>
    <span>Products</span>
</div>
<div class="nav-items">
    <fa-icon [icon]="faShop"></fa-icon>
    <span>Document</span>
</div>
<div class="nav-items">
    <fa-icon [icon]="faBox"></fa-icon>
    <span>History</span>
</div>
<div class="nav-items">
    <fa-icon [icon]="faMoneyBill"></fa-icon>
    <span>Statistic</span>
</div>
<div class="nav-items">
    <fa-icon [icon]="faContactBook"></fa-icon>
    <span>Contact</span>
</div>