<div class="pt-5">
    <span class="">
      <input pInputText id="title" type="text" class="p-inputtext-sm"  />
    </span>
  </div>
  
  <div class="chart-type mt-5">
    <span>Chart Type</span>
  </div>
  
  <div class="chart-content mt-5">
    <button class="btn btn-primary btn-square" [class.selected]="selectedChartType === 'pie'" click="selectChartType('pie')">
      <div class="btn-content">
        <i class="pi pi-chart-pie"></i>
        <span>Pie Chart</span>
      </div>
      <!-- <p-button class="checkmark" size="small" severity="secondary" [rounded]="true" *ngIf="selectedChartType === 'pie'" icon="pi pi-check"></p-button> -->
    </button>
  </div>
  
  <br>
  <button class="btn btn-primary" pButton type="button" label="Create" (click)="createSentimentChart()">
  </button>
  